<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <button type="button">返回</button>
    <p>
        <%=data%>
    </p>
    <script src="/jquery-1.7.1.js"></script>
    <script>
        $(function() {
            $('button').on("click", function() {
                window.location.reload();
                location.href = "/";
            });
        });
    </script>
</body>

</html>