<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="content">
        <ul>
            <% for(var i in data){ %>
                <li index="<%=data[i].id%>">
                    <%=data[i].title%>
                        <span>点击量 ：<b><%=data[i].hits%></b></span>
                </li>
                <% } %>
        </ul>
        <button class="btn">添加</button>
    </div>
    <script src="/jquery-1.7.1.js"></script>
    <script>
        $(function() {

            $(".content").on("click", "li", function() {
                var defer = $.Deferred();
                var index = $(this).attr("index");
                var hits;

                $.ajax({
                    url: "/data",
                    success: function(data) {
                        if (data.code == 0) {
                            for (var i = 0; i < data.data.length; i++) {
                                if (data.data[i].id == index) {
                                    hits = data.data[i].hits * 1;
                                    hits++;
                                    $.ajax({
                                        url: "/hits",
                                        type: "post",
                                        data: {
                                            id: index,
                                            hits: hits
                                        },
                                        success: function(msg) {
                                            if (msg.code == 0) {}
                                        }
                                    });
                                }
                            }
                        }
                    }
                });

                $.ajax({
                    url: "/content?id=" + index,
                    success: function(data) {
                        location.href = '/content?id=' + index;
                    }
                })
            });
            $(".btn").on("click", function() {
                location.href = '/add';
            });

            function onClick(data) {

            }
        });
    </script>
</body>

</html>